.special_btn{
    color: rgb(44, 246, 17);
    visibility: hidden;
}
element.style {
    empty-cells: hidden;
}

/* .content-wrapper{
    text-align: center;
} */
/* body{
    border: 5px solid rgb(255, 0, 51);
    width: 100%;
    height: 100%;
    width: 95%;
} */
.bg-section{
    color:rgb(0, 2, 12);
    text-align: center;
    /* text-transform: uppercase; */
    text-transform: capitalize;
    /* text-shadow:1px 1px 2px rgb(229, 186, 12), 0 0 25px blue, 0 0 5px darkblue; */
    background-color: rgb(247, 227, 200);
    /* text-decoration: underline red double 5px; */
    border: 1px solid rgb(0, 1, 10);
    border-style: dotted;
    /* border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid; */
    /* border: 2px solid black; */
    /* outline-style: dotted; */
    /* outline-color: blue; */
    width: fit-content;
    margin: 40px auto;
    padding: 5px;
    border-radius: 20px 20px;
    border-color: rgb(252, 4, 248);
    outline-offset: 15px;
    font-style: oblique;
}

h3{
    color:rgb(20, 255, 24);
    text-align:center;
}
.btn-box{ 
    text-align: center;
    width: 100%;
}
.btn {
    border-radius: 30px 30px;
    border-style: dashed;
    border-color: rgb(220, 200, 20);
}
h1{
    visibility: hidden;
}
.navbar {
    display: flex;
    padding: 1px;
    background-color: rgb(166, 233, 159);
    /* color: #011067; */
    height: 60px;
    margin: -3px;
    /* border-style: ridge; */
    /* border-color: green red lightcoral orange; */
    outline: thick ridge;
}
ul.no-bullets {
    list-style-type:none;
    margin: flex;
    padding: 0%;
    display: flex;
    text-indent: 10px;
}
ul a:hover {
    color: rgb(107, 2, 37);
    cursor: pointer;
}
.nav_center {
    display: flex;
    padding: 0%;
    justify-content: space-evenly;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}
  